name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read
jobs:
  build:
    uses: dominx99/recipes-frontend/.github/workflows/build.yml@main
  deploy:
    needs: build
    runs-on: ubuntu-latest
    name: Deploy application
    steps:
      -
        name: Checkout to current branch
        uses: actions/checkout@v3

      - name: Import Secrets from self hosted vault
        uses: hashicorp/vault-action@v2
        with:
          url: http://vault.chylo.pl:8880
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            secret/data/recipes/pwa DOMAIN | DOMAIN ;
            secret/data/recipes/pwa APP_ENV | APP_ENV ;
            secret/data/recipes/pwa REACT_APP_API_BASE_URL | REACT_APP_API_BASE_URL ;

      - name: Copy application environment to .env file
        run: 'envsubst < .env.tmpl > .env'

      - name: Copy docker-compose to the OCI instance
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.INSTANCE_HOST }}
          key: ${{ secrets.INSTANCE_PRIVATE_KEY }}
          username: opc
          source: "docker-compose-prod.yml,.env"
          target: "/home/opc/workspace/recipes/pwa/"

      - name: Start application
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.INSTANCE_HOST }}
          key: ${{ secrets.INSTANCE_PRIVATE_KEY }}
          username: opc
          script: |
            cd workspace/recipes/pwa
            mv docker-compose-prod.yml docker-compose.yml
            docker-compose pull
            docker-compose up -d --no-build
